.container-floater{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.416);
  backdrop-filter: blur(10px);
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floater{
  background-color: var(--terciary-color);
  border-radius: 10px;
  width: 80%;
  max-height: 65vh;
  box-shadow: 5px 5px 30px black;
  overflow: hidden;
}

.slider{
  width: 100%;
  max-height: 50vh;
  position: relative;
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.media-floater{
  width: 100%;
  left: 0;
  position: sticky;
  object-fit: cover;
  border-radius: 5px;
  scroll-snap-align: center;
}

.information-post{
  min-height: 15vh;
  position: relative;
  padding-bottom: 3vh;
}


.redirect-button, .close-button{
  font-size: 4vw;
  position: absolute;
  bottom: 5px;
  color: white;
}
.redirect-button{
  left: 7%;
}

.close-button{
  left: 1%;
}

.date{
  font-size: 3vw;
  position: absolute;
  bottom: 5px;
  right: 20px;
}

.text{
  padding-top: 15px;
  display: block;
  width: 90%;
  margin: 0 auto;
  max-height: 10vh;
  overflow: auto;
  text-align: center;
  font-size: 3.5vw;
}

@media screen and (min-width:1024px){
  .floater{
    display: flex;
    width:60%;
    max-height: 90vh;
  }
  .slider{
    min-width: 60%;
    max-height: 85vh;
  }
  .text, .date{
    font-size: 1.5vw;
  }
  .close-button, .redirect-button{
    font-size: 2em;
    top: 5px;
    left: 80%;
    cursor: pointer;
    height: 0;
  }
  .redirect-button{
    left: 63%;
  }

  .information-post{
    display: flex;
    align-items: center;
    width: 45%;
  }
  .text{
    max-height: 20vh;
  }
  .date{
    width: 100%;
    text-align: center
  }
}

.slider::-webkit-scrollbar{
  height: 8px;
}

@media screen and (min-width:1200px){
  .floater{
    width: 55%;
  }
  .close-button{
    left: 85%;
  }
  .redirect-button{
    left: 70%;
  }
}

@media screen and (max-width:767px) {
  .redirect-button, .close-button{
    font-size: 5.5vw;
  }
  .redirect-button{
    left: 9%;
  }
  .text, .date{
    font-size: 3.5vw;
  }
}