.pic-username{
  width: 24vw;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.section-top{
  width: 85%;
  margin: 0 auto;
  margin-bottom: 10vh;
  /* background-color: rgb(189, 7, 7); */
  display: flex;
  gap: .5em;
}

.name{
  display: block;
  font-size: 3.6vw;
}

.left-space{
  width: 40%;
  text-align: center;
}

.right-space{
  font-size: 15px;
  width: 60%;
  position: relative;
}

.bio{
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  max-height: 40%;
  position: absolute;
  top: 17%;
  overflow: auto;
  font-size: 3.2vw;
}

.basic-data{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 10px;
}

.child-basic-data{
  text-align: center;
  font-size: 3.2vw;
}

.section-bottom{
  border-radius: 8px;
  background-color: var(--terciary-color);
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (min-width:1024px) {
  .pic-username{
    width: 13vw;
  }
  .name{
    font-size: 2vw;
  }
  .child-basic-data, .bio{
    font-size: 1.5vw;
  }
}